html, body {
    width: 50%;
    margin: 0 auto;
}

.container {
    width: 360px;
}

#inputField {
    width: 300px;
    height: 46px;
    border: 1px solid black;
    outline: none;
    font-size: 25px;
    vertical-align: middle;
}


#addToDo {
    height: 50px;
    width: 50px;
    border: 1px solid black;
    vertical-align: middle;
    font-size: 30px;
    font-weight: bold;
}

.to-dos {
    margin-top: 20px;
    height: 40px;
    background-color: purple;
}

.paragraph-styling{
    margin: 0;
    cursor: pointer;
    font-size: 20px;
}

.main-container {
    background-color: gray;
    width: 380px;
    height: 500px;
    padding: 10px;
    margin-top: 10px;
    border-radius:10px;
}